<!DOCTYPE html>
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reminders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
</br>
{% crispy CreateButtonForm CreateButtonForm.helper %}</br>
{% render_table table %}</br>
<p align="center">New here? Not getting messages from the bot? Be sure you've
    <a href="https://discord.com/oauth2/authorize?client_id=998560934652026901&scope=bot&permissions=0">
        Invited the bot
    </a>
    to a server and <a href="https://support.discord.com/hc/en-us/articles/217916488">
        enabled direct messages for the server you chose!
    </a>
</p></br>
<weak><p align="center"><a href="{% url 'forget' %}">Delete my data</a></p></weak>
</body>
</html>