<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reminders by CinnamonSwirl</title>
</head>
<body>
Welcome! This is the placeholder index page for Reminders by CinnamonSwirl!</br></br>

<strong>New here?</strong> Read the <a href="#FAQ">FAQ.</a></br>
<strong>When you're ready: </strong> <a href="{{ auth_url }}">Sign in</a></br></br>

<a id="FAQ">FAQ</a></br>
<strong>What is this all about?</strong></br>
This app lets you set up reminders for yourself and a discord bot will message you with those gentle reminders based
on the schedule you set up.</br></br>

<strong>Why was this made?</strong></br>
Mostly to learn Python, Django, and the various little pieces that make webapps run!</br></br>

<strong>Does this cost anything?</strong></br>
No.</br></br>

<strong>Why do I have to sign in with Discord?</strong></br>
The bot needs to know who to send the reminders to. The only information this app stores is your basic profile, such as
your discord ID, username and your profile picture.</br></br>

<strong>I want you to delete my data</strong></br>
Sure, you will need to log in and then click 'Delete my data' along the bottom of the page.</br></br>

<strong>What if I need more help?</strong></br>
Open an issue on our <a href="https://github.com/CinnamonSwirly/CinnamonSwirl-Django/issues">Github Page!</a></br>
</body>
</html>