<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reminders by CinnamonSwirl</title>
</head>
<body>
<h3>Let's walk through some setup...</h3>
<p>The simple of this is you'll set up and manage your reminders here on this site. Then, a bot will message you on
Discord according to the schedules you set up here.</p><br>
<strong>First, the bot needs to see you somehow to message you.</strong><br>
<p>Do you want to...<br><ul><li><a href="{{ invite_link }}">Invite the bot to a server you own?</a></li>
    or...
<li><a href="{{ server_link }}">Join the official server with the Bot?</a></li></ul></p><br>
<p>Done here? You're quick! Let's
    <a href="{{ next }}">continue to the next step</a></p><br>
<small>Don't like either of these options? Changed your mind? It's okay,
    <a href="{% url 'forget' %}">make me forget all about you</a> and it'll be like this never happened.</small>
</body>
</html>